In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder

In [24]:
data_df = pd.read_csv('../datasets/south_africa_chd.csv')

In [25]:
data.shape

(462, 10)

In [26]:
data_df.head()

   sbp  tobacco   ldl  adiposity  famhist  typea  obesity  alcohol  age chd
0  160    12.00  5.73      23.11  Present     49    25.30    97.20   52  Si
1  144     0.01  4.41      28.61   Absent     55    28.87     2.06   63  Si
2  118     0.08  3.48      32.28  Present     52    29.14     3.81   46  No
3  170     7.50  6.41      38.03  Present     51    31.99    24.26   58  Si
4  134    13.60  3.50      27.78  Present     60    25.99    57.34   49  Si

In [31]:
ohe_famhist = OneHotEncoder(drop='if_binary').fit_transform(data_df[['famhist']])
data_df['famhist'] = ohe_famhist.toarray()

In [32]:
ohe_chd = OneHotEncoder(drop='if_binary').fit_transform(data_df[['chd']])
data_df['chd'] = ohe_chd.toarray()

In [38]:
data_df.head()

   sbp  tobacco   ldl  adiposity  famhist  typea  obesity  alcohol  age  chd
0  160    12.00  5.73      23.11      1.0     49    25.30    97.20   52  1.0
1  144     0.01  4.41      28.61      0.0     55    28.87     2.06   63  1.0
2  118     0.08  3.48      32.28      1.0     52    29.14     3.81   46  0.0
3  170     7.50  6.41      38.03      1.0     51    31.99    24.26   58  1.0
4  134    13.60  3.50      27.78      1.0     60    25.99    57.34   49  1.0

In [39]:
data = data_df.to_numpy()

In [41]:
data.shape

(462, 10)