In [14]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder

In [15]:
data_df = pd.read_csv('/Users/universidad/Desktop/Universidad/CURSO-2023-2024/BIO/PRACTICAS/P2/datasets/sourth_africa_chd.csv')

In [16]:
data_df.shape

(462, 10)

In [17]:
data_df.head()

   sbp  tobacco   ldl  adiposity  famhist  typea  obesity  alcohol  age chd
0  160    12.00  5.73      23.11  Present     49    25.30    97.20   52  Si
1  144     0.01  4.41      28.61   Absent     55    28.87     2.06   63  Si
2  118     0.08  3.48      32.28  Present     52    29.14     3.81   46  No
3  170     7.50  6.41      38.03  Present     51    31.99    24.26   58  Si
4  134    13.60  3.50      27.78  Present     60    25.99    57.34   49  Si

In [18]:
ohe_famhist = OneHotEncoder(drop='if_binary').fit_transform(data_df[['famhist']])
data_df['famhist'] = ohe_famhist.toarray()

In [19]:
ohe_chd = OneHotEncoder(drop='if_binary').fit_transform(data_df[['chd']])
data_df['chd'] = ohe_chd.toarray()

In [20]:
data_df.head()

   sbp  tobacco   ldl  adiposity  famhist  typea  obesity  alcohol  age  chd
0  160    12.00  5.73      23.11      1.0     49    25.30    97.20   52  1.0
1  144     0.01  4.41      28.61      0.0     55    28.87     2.06   63  1.0
2  118     0.08  3.48      32.28      1.0     52    29.14     3.81   46  0.0
3  170     7.50  6.41      38.03      1.0     51    31.99    24.26   58  1.0
4  134    13.60  3.50      27.78      1.0     60    25.99    57.34   49  1.0

In [21]:
data = data_df.to_numpy()

In [22]:
data.shape

(462, 10)

In [23]:
# training stage
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

# Suponiendo que las características están en las primeras columnas y la etiqueta está en la última columna
X = data[:, :-1]  # todas las filas, todas las columnas excepto la última
y = data[:, -1]   # todas las filas, solo la última columna

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)  # ajusta test_size según necesites

print(len(X_train), len(y_train), len(X_test), len(y_test))

# Check the splits are correct

323 323 139 139

In [39]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.tree import DecisionTreeRegressor, DecisionTreeClassifier
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from sklearn.metrics import mean_squared_error, accuracy_score, classification_report

# Manejo de datos faltantes
peruvian_blood_pressures = pd.read_csv('/Users/universidad/Desktop/Universidad/CURSO-2023-2024/BIO/PRACTICAS/P2/datasets/peruvian_blood_pressures.csv')
south_africa_chd = pd.read_csv('/Users/universidad/Desktop/Universidad/CURSO-2023-2024/BIO/PRACTICAS/P2/datasets/sourth_africa_chd.csv')

In [77]:



systol_column = peruvian_blood_pressures['Systol']

systol_mean = np.mean(systol_column)
print("Media de la columna 'Systol':", systol_mean)

peruvian_blood_pressures.head()

0     170
1     120
2     125
3     148
4     140
5     106
6     120
7     108
8     124
9     134
10    116
11    114
12    130
13    118
14    138
15    134
16    120
17    120
18    114
19    124
20    114
21    136
22    126
23    124
24    128
25    134
26    112
27    128
28    134
29    128
30    140
31    138
32    118
33    110
34    142
35    134
36    116
37    132
38    152
Name: Systol, dtype: int64
Media de la columna 'Systol': 127.41025641025641

   Age  Years  Weight  Height  Chin  Forearm  Calf  Pulse  Systol  Diastol
0   21      1    71.0    1629   8.0      7.0  12.7     88     170       76
1   22      6    56.5    1569   3.3      5.0   8.0     64     120       60
2   24      5    56.0    1561   3.3      1.3   4.3     68     125       75
3   24      1    61.0    1619   3.7      3.0   4.3     52     148      120
4   25      1    65.0    1566   9.0     12.7  20.7     72     140       78

In [41]:

south_africa_chd.head()

   sbp  tobacco   ldl  adiposity  famhist  typea  obesity  alcohol  age chd
0  160    12.00  5.73      23.11  Present     49    25.30    97.20   52  Si
1  144     0.01  4.41      28.61   Absent     55    28.87     2.06   63  Si
2  118     0.08  3.48      32.28  Present     52    29.14     3.81   46  No
3  170     7.50  6.41      38.03  Present     51    31.99    24.26   58  Si
4  134    13.60  3.50      27.78  Present     60    25.99    57.34   49  Si

In [44]:
# Refactor data
ohe_famhist = OneHotEncoder(drop='if_binary').fit_transform(south_africa_chd[['famhist']])
south_africa_chd['famhist'] = ohe_famhist.toarray()

ohe_chd = OneHotEncoder(drop='if_binary').fit_transform(south_africa_chd[['chd']])
south_africa_chd['chd'] = ohe_chd.toarray()

peruvian_blood_pressures.dropna(inplace=True)
south_africa_chd.dropna(inplace=True)


X_peru = peruvian_blood_pressures.drop(['Systol', 'Diastol'], axis=1)
y_systol = peruvian_blood_pressures['Systol']
y_diastol = peruvian_blood_pressures['Diastol']

X_sa = south_africa_chd.drop('chd', axis=1)
y_chd = south_africa_chd['chd']


X_peru_train, X_peru_test, y_systol_train, y_systol_test, y_diastol_train, y_diastol_test = train_test_split(X_peru, y_systol, y_diastol, test_size=0.2, random_state=42)
X_sa_train, X_sa_test, y_chd_train, y_chd_test = train_test_split(X_sa, y_chd, test_size=0.2, random_state=42)

# # Escalado de características si es necesario
# scaler = StandardScaler()
# X_peru_train = scaler.fit_transform(X_peru_train)
# X_peru_test = scaler.transform(X_peru_test)

# X_sa_train = scaler.fit_transform(X_sa_train)
# X_sa_test = scaler.transform(X_sa_test)

In [70]:
# Regresión
regressors = {
    'Linear Regression': LinearRegression(),
    'Decision Tree Regressor': DecisionTreeRegressor(),
    'Random Forest Regressor': RandomForestRegressor()
}

for name, model in regressors.items():
    model.fit(X_peru_train, y_systol_train)
    y_pred = model.predict(X_peru_test)
    mse = mean_squared_error(y_systol_test, y_pred)
    print(f'{name}: MSE = {mse}')

# Clasificación
classifiers = {
    'Logistic Regression': LogisticRegression(max_iter=100),
    'Decision Tree Classifier': DecisionTreeClassifier(),
    'Random Forest Classifier': RandomForestClassifier()
}

for name, model in classifiers.items():
    model.fit(X_sa_train, y_chd_train)
    y_pred = model.predict(X_sa_test)
    accuracy = accuracy_score(y_chd_test, y_pred)
    report = classification_report(y_chd_test, y_pred)
    print(f'{name}: Accuracy = {accuracy}')
    print(report)

Linear Regression: MSE = 94.29310675139774
Decision Tree Regressor: MSE = 254.0
Random Forest Regressor: MSE = 148.54092500000002
Logistic Regression: Accuracy = 0.7204301075268817
              precision    recall  f1-score   support

         0.0       0.74      0.86      0.80        59
         1.0       0.67      0.47      0.55        34

    accuracy                           0.72        93
   macro avg       0.70      0.67      0.67        93
weighted avg       0.71      0.72      0.71        93

Decision Tree Classifier: Accuracy = 0.6021505376344086
              precision    recall  f1-score   support

         0.0       0.70      0.66      0.68        59
         1.0       0.46      0.50      0.48        34

    accuracy                           0.60        93
   macro avg       0.58      0.58      0.58        93
weighted avg       0.61      0.60      0.61        93

Random Forest Classifier: Accuracy = 0.7849462365591398
              precision    recall  f1-score   support

         0.0       0.79      0.90      0.84        59
         1.0       0.77      0.59      0.67        34

    accuracy                           0.78        93
   macro avg       0.78      0.74      0.75        93
weighted avg       0.78      0.78      0.78        93

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(