# Práctica 1

In [3]:
# Librerías
# Nota: puedes importar cualquier otra librería que necesites usar

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
# Leer dataset

data = pd.read_csv('/Users/universidad/Desktop/Universidad/CURSO-2023-2024/BIO/PRACTICAS/P1/datasets/sourth_africa_chd.csv')

In [9]:
# Visualizar los primeros elementos del dataset

data.head()

   sbp  tobacco   ldl  adiposity  famhist  typea  obesity  alcohol  age chd
0  160    12.00  5.73      23.11  Present     49    25.30    97.20   52  Si
1  144     0.01  4.41      28.61   Absent     55    28.87     2.06   63  Si
2  118     0.08  3.48      32.28  Present     52    29.14     3.81   46  No
3  170     7.50  6.41      38.03  Present     51    31.99    24.26   58  Si
4  134    13.60  3.50      27.78  Present     60    25.99    57.34   49  Si

In [10]:
# Forma del dataset

data.shape

(462, 10)

In [11]:
# Visualizar un cojunto de elementos del dataset cualquiera

data.iloc[100:106,:]

     sbp  tobacco   ldl  adiposity  famhist  typea  obesity  alcohol  age chd
100  136     8.00  7.85      23.81  Present     51    22.69     2.78   50  No
101  166     0.07  4.03      29.29   Absent     53    28.37     0.00   27  No
102  118     0.00  4.34      30.12  Present     52    32.18     3.91   46  No
103  128     0.42  4.60      26.68   Absent     41    30.97    10.33   31  No
104  118     1.50  5.38      25.84   Absent     64    28.63     3.89   29  No
105  158     3.60  2.97      30.11   Absent     63    26.64   108.00   64  No

In [12]:
# Selección de variables numéricas y categóricas

list_var_num = ['sbp','tobacco','ldl','adiposity','typea','obesity','alcohol','age']
list_var_cat = ['famhist','chd']

var_num = data[list_var_num]
var_cat = data[list_var_cat]

In [13]:
var_num.head()

   sbp  tobacco   ldl  adiposity  typea  obesity  alcohol  age
0  160    12.00  5.73      23.11     49    25.30    97.20   52
1  144     0.01  4.41      28.61     55    28.87     2.06   63
2  118     0.08  3.48      32.28     52    29.14     3.81   46
3  170     7.50  6.41      38.03     51    31.99    24.26   58
4  134    13.60  3.50      27.78     60    25.99    57.34   49

In [14]:
var_cat.head()

   famhist chd
0  Present  Si
1   Absent  Si
2  Present  No
3  Present  Si
4  Present  Si

### 1) Análisis univariante no gráfico

#### Categóricas

In [15]:
# Tabla de conteo, proporción y procentaje

## variable famhist

count = var_cat['famhist'].value_counts()
proportion = count/var_cat['famhist'].count()
percent = proportion*100

table = pd.DataFrame({'count':count, 
                      'proportion':proportion,
                      'percent':percent}).transpose()

table['Total'] = table.sum(axis=1)

table

famhist         Absent     Present  Total
count       270.000000  192.000000  462.0
proportion    0.584416    0.415584    1.0
percent      58.441558   41.558442  100.0

In [11]:
# Realiza la tabla de conteo, proporción y procentaje para la variable categórica chd

#### Numéricas

In [12]:
# Calcula, para una variable numérica que elijas, la tendencia central (media, mediana y moda) 
# y la dispersión (varianza y desviación estándar)

### 2) Análisis univariante gráfico

#### Categóricas

In [13]:
# Crea un bar chart para una variable categórica que elijas

#### Numéricas

In [14]:
# Crea un histograma y un boxplot para una variable numérica que elijas

### 3) Análisis multivariante no gráfico

#### Categóricas

In [59]:
# Calcula una tabla cruzada para las variables categóricas del dataset

#### Numéricas

In [65]:
# Calcula la tabla de covarianzas y correlaciones para las variables numéricas del dataset

### 4) Análisis multivariante gráfico

In [69]:
# Crea un scatterplot de dos variables numéricas del dataset

In [68]:
# EXTRA: Crea un bubbleplot de dos o tres variables numéricas y una categórica del dataset